

@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&family=Poppins:wght@400;700&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'poppins', sans-serif;
}
body{
    background-color: black;
}
.main{
    background-image: url("assets/images/bg.jpg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px, 100vw);
    height: 70vh;
    position: relative;
}
.main .box{
    height: 70vh;
    width: 100%;
    opacity: 0.64;
    position: absolute;
    top:0;
    background-color: black;
}
nav{
    max-width: 150vh;
    justify-content: space-between;
    margin: auto;
    display: flex;
    align-items: center;
    height: 40px;
}
svg{
    color:red;
    width: 110px;
    position: relative;
    margin-top: 2rem;
    z-index: 10;
}
nav button{
    height: 2rem;
    width: 4.5rem;

    position: relative; 
    margin-top: 1rem;
    z-index: 20;
    border-radius: 10%;
 
}
.box1{
  font-family: "Martel Sans", sans-serif;
    height: calc(100% - 50px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    gap: 20px;
    padding:0 30px ;
}
.box1> :first-child(1){
    font-family: 'poppins', sans-serif;
    font-weight: bolder;
    font-size: 48px;
    text-align: center;
}
.box1> :nth-child(2){
    font-weight: 400;
    font-size: 24px;
    text-align: center;
}
.box1> :nth-child(3){
    font-weight: 400;
    font-size: 15px;
    text-align: center;
}

.btn{
    padding: 3px 8px;
    font-weight: 500;
    color: white;
    background-color: rgba(230, 193, 193, 0.685);
    border-radius: 0.3rem;
}
.btn-red {
    background-color: red;
    color: white;
    padding: 3px 24px;
    font-size: 20px;
    border-radius: 4px;
}
.hero-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}
.main input{
    padding: 9px 100px 5px 15px;
    color: white;
    font-weight: 800;
    font-size: 12px;
    border-radius: 4px;
    background-color: rgba(23, 23, 23, 0.2);
    border: 1px solid rgba(246, 238, 238, 0.3);
}
.btn-red-sm{

    background-color: red;
    color: white;
     
    
    
}
.heading{
    color: white;
    background-color: black;
    font-family: 'poppins', sans-serif;
    font-weight: 100;
    position: center ;
    text-align: justify;
    padding: 40px 120px; 
    display: flex;
}
 .container{
    height: 450px;
    max-width: 950px;
    width: 100%;
    margin-top: 30px;
    margin-left: 15vw;
    margin-right:15vw;
    
 }
 .section-title{
    font-size: 20px;
    margin-bottom: 25px;
    color: white;
    font-family: 'poppins', sans-serif;
 }
 .slider{
    display: flex;
    gap: 20px;
    overflow-x: auto ;
    scroll-snap-type:x mandatory;
    scrollbar-width: none;
 }
 .slider::-webkit-scrollbar{
display: none;
 }
 .card{
    position: relative;
    flex: 0 0 auto;
    height: 500px;
    width: 220px;
    scroll-snap-align: start;
    border-radius:8px;
    overflow: visible;
    padding: 15px 10px;
    transition: transform 0.3s ease box-shadow ease;
 }
 .card img{
    width: 100%;
    height: 70%;
    object-fit:cover;
    display: block;
    border-radius: 8px;
 }
 .card:hover{
    transform: scale(1.1);
    z-index: 5;
    box-shadow: 0px 10px 20px rgba 255, 255, 255, 0.2;
 }
 .number{
    font-family: poppin;
    color: black;
    -webkit-text-stroke: 2px white;
    position: relative;
    bottom: 100px;
    left: -15px;
    font-size: 75px;
    font-weight:bold ;
 }
.container2{
    height: 380px;
    width: 75vw;
    margin-top: 30px;
    margin-left: 15vw;
    margin-right:15vw;
    overflow: hidden;
}
.section{
    display: flex;
    gap: 10px;
    height: 350px;
    width: 70vw;
}
.card2{
    height: 250px;
    width: 40vw;
    flex: 10px 10px 10px 10px;
    color: white;
    background: linear-gradient(180deg, #1e1e3f 50%, #220222 100% );
    border-radius: 20px;
    padding: 15px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: Arial, Helvetica, sans-serif;
}
.card2 h3{
    font-size: 1.3rem;
}
.card p{
    color: rgba(255, 255, 255,0.7);   
}
.img{
    position: relative;
    left: 115px;
    top: 3px;
}
.img1{
    position: relative;
    left: 130px;
    bottom: 40px;
}
.container3{
    height: 620px;
    width: 70vw;
    margin-top: 30px;
    margin-left: 15vw;
    margin-right:15vw;
}
.icon{
    color: white;
    bottom: 1rem;
}
.faq{
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 12px;
    font-size: 1.3rem;
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif;
}
.questionbox{
    background-color: rgba(71, 63, 63, 0.658);
    width: 70vw;
    margin: 10px auto;
}
.questionbox:hover{
    background-color: rgb(75, 71, 71);
}
.content2{
    width: 80vw;
    margin: 3vw 10vw;
}
.content2 p{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 0px 0px 18px;
}
.content2 .hero-button{
    display: flex;
    gap:5px;
    justify-content: center;
}
#search input{
    padding: 9px 100px 0px 125px;
    font-size: 1rem;
    border-radius: 4px;
    color: white;
} 
#search .btn-red{
    border-radius: 5px;
    border: none;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    padding: 9px 20px 5px 20px;
}
footer{
font-family: Arial, Helvetica, sans-serif;
height: 620px;
    width: 70vw;
    margin-top: 70px;
    margin-left: 15vw;
    margin-right:15vw;
}
.call a{
    color: rgba(255, 255, 255, 0.7);
    display: flex;
    gap: 10px;
    margin-bottom: 20px;

}   
.foot-grid{
    display: grid;
    grid-template-columns:repeat(4,1fr);
    gap: 10px;
}
.foot{
    display: flex;
    flex-direction: column;
    gap:2px ;
    width: 100%;
}
.foot a{
    color: rgba(255, 255, 255,0.7);
    padding-top: 20px;
}
footer p{
    color: rgba(255, 255, 255,0.7);
    padding-top: 50px;

}
#para{
    font-size: 1rem;
    padding-top: 30px;
}
#para a{
    color: rgb(144, 144, 238);
}

